
/*
========================================================================================
  Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Boilerplate options
    outdir                     = './results'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    
    // Max requirements
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
} 

profiles {
    secure_lustre {
        process.executor = 'local'
        
        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
        }
        singularity {
            enabled    = false
            autoMounts = false
        }
        aws {
        client {
        endpoint = "https://cog.sanger.ac.uk"
        signerOverride = "S3SignerType"
        }}

    }

    farm22 {
        process.executor = 'lsf'
        singularity.runOptions = "--bind /lustre"

        docker {
        enabled = false
        }
        singularity {
            enabled    = true
            autoMounts = true
            cacheDir = '/lustre/scratch125/casm/teams/team113/singularity_cache'
            registry = 'gitlab-registry.internal.sanger.ac.uk'

            }
        executor {
            name = 'lsf'
            perJobMemLimit = true
            poolSize = 4
            submitRateLimit = '5 sec'
            killBatchSize = 50
        }
        }
}



tracedir = "pipeline_info"

report {
    enabled = true
}


manifest {
    name            = 'dermatlas_tumour_only_calling_nf'
    author          = 'Kim Wongs, Jamie Billington'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/DERMATLAS/analysis-methods/dermatlas_germlinepost_nf'
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.5'
    version         = '0.1.0'
    defaultBranch   = 'develop'
}

