
/*
========================================================================================
  Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Boilerplate options
    outdir                     = './results'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    
    // Max requirements
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
} 

profiles {
    secure_lustre {
        process.executor = 'local'
        
        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
        }
        singularity {
            enabled    = false
            autoMounts = false
        }
        aws {
        client {
        endpoint = "https://cog.sanger.ac.uk"
        signerOverride = "S3SignerType"
        }}

    }

    farm22 {
        process.executor = 'lsf'
        singularity.runOptions = "--bind /lustre"

        docker {
        enabled = false
        }
        singularity {
            enabled    = true
            autoMounts = true
            cacheDir = '/lustre/scratch127/casm/projects/dermatlas/singularity_images'
            registry = 'gitlab-registry.internal.sanger.ac.uk'

            }
        executor {
            name = 'lsf'
            perJobMemLimit = true
            poolSize = 4
            submitRateLimit = '5 sec'
            killBatchSize = 50
        }
        params {
            transcripts = "/lustre/scratch127/casm/projects/dermatlas/resources/ensembl/dermatlas_noncanonical_transcripts_ens103.v2.tsv"
            cgc_file = "/lustre/scratch127/casm/projects/dermatlas/resources/tumour-only/cgc_genes.list"
            oncokb_file = "/lustre/scratch127/casm/projects/dermatlas/resources/oncokb/cancerGeneList.list"
            hotspot_file = "/lustre/scratch127/casm/projects/dermatlas/resources/tumour-only/cancerhotspots_metadata.GRCh38.v2.tsv"
            dbsnp_file = "/lustre/scratch127/casm/projects/dermatlas/resources/tumour-only/dbSNP155.GRCh38.GCF_000001405.39_AFS.WES5.tsv.gz{,.tbi}"
        }

        process {
            withName: COUNT_NON_REF_GTS {
                cpus = 4
                memory = 10.GB
            }
            withName: SUBSET_MAF {
                cpus = 4
                memory = 10.GB
            }
            withName: CHECK_SOMATIC_MNV_CALLS {
                cpus = 4
                memory = 40.GB
            }
            withName: FIND_SNP_POSITIONS {
                cpus = 4
                memory = 40.GB
            }
            withName: GENERATE_CONFIG_FILE {
                cpus = 4
                memory = 40.GB
            }
            withName: FILTER_AND_FLAG_VARIANTS {
                cpus = 4
                memory = 40.GB
            }
            withName: CATEGORISE_VARIANTS {
                cpus = 4
                memory = 40.GB
            }
            withName: PLOT_VARIANTS {
                cpus = 4
                memory = 40.GB
            }
        }

        }
}



tracedir = "pipeline_info"

report {
    enabled = true
}


manifest {
    name            = 'dermatlas_tumour_only_calling_nf'
    author          = 'Kim Wong, Jamie Billington'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/DERMATLAS/analysis-methods/dermatlas_germlinepost_nf'
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.5'
    version         = '0.1.0'
    defaultBranch   = 'develop'
}

