params {
    germline_vcfs = "${PROJECT_DIR}/analysis/unmatched/germline_variant_files.tsv"
    unmatched_somatic_vcfs = "${PROJECT_DIR}/analysis/unmatched/unmatched_somatic_vcfs.tsv"
    matched_somatic_vcfs = "${PROJECT_DIR}/analysis/unmatched/matched_somatic_vcfs.tsv"
    unmatched_maf = "${PROJECT_DIR}/analysis/unmatched/combined_cohorts_keep_unmatched.maf"
    release_version = "v1"
    outdir = "${PROJECT_DIR}/analysis/unmatched_variant_calling"
    transcripts = "/lustre/scratch127/casm/projects/dermatlas/resources/ensembl/dermatlas_noncanonical_transcripts_ens103.v2.tsv"
    cgc_file = "/lustre/scratch127/casm/projects/dermatlas/resources/tumour-only/cgc_genes.list"
    oncokb_file = "/lustre/scratch127/casm/projects/dermatlas/resources/oncokb/cancerGeneList.list"
    hotspot_file = "/lustre/scratch127/casm/projects/dermatlas/resources/tumour-only/cancerhotspots_metadata.GRCh38.v2.tsv"
    dbsnp_file = "/lustre/scratch127/casm/projects/dermatlas/resources/tumour-only/dbSNP155.GRCh38.GCF_000001405.39_AFS.WES5.tsv.gz{,.tbi}"
    transcript_info = "/lustre/scratch127/casm/projects/dermatlas/resources/ensembl/Homo_sapiens.GRCh38.103.chr.gtf.gz"

    // Define multiple cohorts with their sample lists
    // Each cohort name will be used as a subdirectory in the output
    cohorts = [
        "all_samples": "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-one_tumour_per_patient_unmatched.tsv",
        // Add more cohorts as needed:
        // "cohort1": "${PROJECT_DIR}/metadata/cohort1_samples.tsv",
        // "cohort2": "${PROJECT_DIR}/metadata/cohort2_samples.tsv"
    ]
}


            
            
            
            
            
