params {
    germline_vcfs = "${PROJECT_DIR}/analysis/unmatched/germline_variant_files.tsv"
    unmatched_somatic_vcfs = "${PROJECT_DIR}/analysis/unmatched/unmatched_somatic_vcfs.tsv"
    matched_somatic_vcfs = "${PROJECT_DIR}/analysis/unmatched/matched_somatic_vcfs.tsv"
    unmatched_maf = "${PROJECT_DIR}/analysis/unmatched/combined_cohorts_keep_unmatched.maf"
    release_verion = "v1"
    outdir = "${PROJECT_DIR}/analysis/unmatched_variant_calling"

}